.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
    height: 80px;
    text-align: center;
    margin-top: 7%;
    margin: 0 auto;
}

.copyright {
    padding-top: 25px;
    color: #343a40;
    font-size: 16px;
    font-family: 'Love Ya Like A Sister', cursive;
}
