.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
    text-align: center;
    margin-top: 7%;
    margin: 0 auto;
}

.copyright {
    padding-top: 15px;
    color: #343a40;
    font-size: 10px;
    font-family: 'Garamond', 'Palatino', 'Times';
}
